# Ignore old database files
olddatabase.db
database.db
database_old.db
database_old2.db
database.db
databaseo.db
database1.db
database2.db
d.db
data.db
dont.db

# Ignore admin-panel folder
admin-panel/



