<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>

<h1 class="title">Admin Dashboard</h1>

<div class="cards">

    <a href="/admin/users" class="card">
    <h2>Registered Users</h2>
    <p>View all registered users</p>
    </a>


    <a href="/admin/donations" class="card">
    <h2>Donation Status</h2>
    <p>View donation records</p>
</a>


    <a href="/admin/logins" class="card">
    <h2>Login User</h2>
    <p>View login history</p>
</a>


</div>

</body>
</html>
